fastapi
uvicorn
python-dotenv
openai
langchain
langchain-openai
langchain-community
chromadb
beautifulsoup4
requests
elevenlabs
pydantic-settings
pydantic
aiohttp
langchain-google-genai
google-generativeai
pipecat-ai[silero,elevenlabs,openai,webrtc]
aiortc
opencv-python
loguru
onnxruntime
httpx
pydub
resampy
websockets<13.0
